@page "/"
@implements IEventHandler<DarkMode.Event>

<h1>Hello, world!</h1>

<div style="margin-top: 10px">;
	<button @onclick=@(async () => await SendAsync(new DarkMode.Command.Toggle())) class="btn">Toggle Mode</button>
</div>

@code {

public ValueTask HandleAsync(DarkMode.Event.StateChanged @event, CancellationToken token)
	=> ValueTask.CompletedTask;
}